<!doctype html>
<title>
    RNRun
</title>
<head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel=stylesheet href="../doc/docs.css"/>
    <link rel="stylesheet" href="../lib/codemirror.css"/>
    <link rel="stylesheet" href="../theme/3024-day.css"/>
    <link rel="stylesheet" href="../theme/3024-night.css"/>
    <link rel="stylesheet" href="../theme/abcdef.css"/>
    <link rel="stylesheet" href="../theme/ambiance.css"/>
    <link rel="stylesheet" href="../theme/base16-dark.css"/>
    <link rel="stylesheet" href="../theme/bespin.css"/>
    <link rel="stylesheet" href="../theme/base16-light.css"/>
    <link rel="stylesheet" href="../theme/blackboard.css"/>
    <link rel="stylesheet" href="../theme/cobalt.css"/>
    <link rel="stylesheet" href="../theme/colorforth.css"/>
    <link rel="stylesheet" href="../theme/dracula.css"/>
    <link rel="stylesheet" href="../theme/eclipse.css"/>
    <link rel="stylesheet" href="../theme/elegant.css"/>
    <link rel="stylesheet" href="../theme/erlang-dark.css"/>
    <link rel="stylesheet" href="../theme/hopscotch.css"/>
    <link rel="stylesheet" href="../theme/icecoder.css"/>
    <link rel="stylesheet" href="../theme/isotope.css"/>
    <link rel="stylesheet" href="../theme/lesser-dark.css"/>
    <link rel="stylesheet" href="../theme/liquibyte.css"/>
    <link rel="stylesheet" href="../theme/material.css"/>
    <link rel="stylesheet" href="../theme/mbo.css"/>
    <link rel="stylesheet" href="../theme/mdn-like.css"/>
    <link rel="stylesheet" href="../theme/midnight.css"/>
    <link rel="stylesheet" href="../theme/monokai.css"/>
    <link rel="stylesheet" href="../theme/neat.css"/>
    <link rel="stylesheet" href="../theme/neo.css"/>
    <link rel="stylesheet" href="../theme/night.css"/>
    <link rel="stylesheet" href="../theme/paraiso-dark.css"/>
    <link rel="stylesheet" href="../theme/paraiso-light.css"/>
    <link rel="stylesheet" href="../theme/pastel-on-dark.css"/>
    <link rel="stylesheet" href="../theme/railscasts.css"/>
    <link rel="stylesheet" href="../theme/rubyblue.css"/>
    <link rel="stylesheet" href="../theme/seti.css"/>
    <link rel="stylesheet" href="../theme/solarized.css"/>
    <link rel="stylesheet" href="../theme/the-matrix.css"/>
    <link rel="stylesheet" href="../theme/tomorrow-night-bright.css"/>
    <link rel="stylesheet" href="../theme/tomorrow-night-eighties.css"/>
    <link rel="stylesheet" href="../theme/ttcn.css"/>
    <link rel="stylesheet" href="../theme/twilight.css"/>
    <link rel="stylesheet" href="../theme/vibrant-ink.css"/>
    <link rel="stylesheet" href="../theme/xq-dark.css"/>
    <link rel="stylesheet" href="../theme/xq-light.css"/>
    <link rel="stylesheet" href="../theme/yeti.css"/>
    <link rel="stylesheet" href="../theme/zenburn.css"/>
    <script src="../lib/codemirror.js">
    </script>
    <script src="../mode/javascript/javascript.js">
    </script>
    <script src="../addon/selection/active-line.js">
    </script>
    <script src="../addon/edit/matchbrackets.js">
    </script>
    <script src="../lib/upload.js">
    </script>
    <link rel="stylesheet" href="../theme/yeti.css"/>
    <link rel="stylesheet" href="../theme/zenburn.css"/>
    <link rel="stylesheet" href="../asset/reset.css"/>
    <script src="../lib/jquery.fileTree-1.01/jquery.js" type="text/javascript">
    </script>
    <script src="../lib/jquery.fileTree-1.01/jquery.easing.js" type="text/javascript">
    </script>
    <script src="../lib/jquery.fileTree-1.01/jqueryFileTree.js" type="text/javascript">
    </script>
    <link href="../lib/jquery.fileTree-1.01/jqueryFileTree.css" rel="stylesheet" type="text/css" media="screen" />
    
    <script src="../asset/page.js"></script>
    <style>
        .rn-sider{float: left;}
        .CodeMirror{height: 90%;position: absolute;width:100%;}
        .file{height: 100%;}
        .console{height: 10%;width:100%;}
        .select{
          border:solid 1px red;
        }
    </style>
</head>
<body>
    <header class="rn-header">
        <a href="/">RNRun</a>
        <div class="hr" >
            <select onchange="selectTheme()" id=select style="display: none;">
                <option selected>
                     主题
                </option>
                <option>
                    3024-day
                </option>
                <option>
                    3024-night
                </option>
                <option>
                    abcdef
                </option>
                <option>
                    ambiance
                </option>
                <option>
                    base16-dark
                </option>
                <option>
                    base16-light
                </option>
                <option>
                    bespin
                </option>
                <option>
                    blackboard
                </option>
                <option>
                    cobalt
                </option>
                <option>
                    colorforth
                </option>
                <option>
                    dracula
                </option>
                <option>
                    eclipse
                </option>
                <option>
                    elegant
                </option>
                <option>
                    erlang-dark
                </option>
                <option>
                    hopscotch
                </option>
                <option>
                    icecoder
                </option>
                <option>
                    isotope
                </option>
                <option>
                    lesser-dark
                </option>
                <option>
                    liquibyte
                </option>
                <option>
                    material
                </option>
                <option>
                    mbo
                </option>
                <option>
                    mdn-like
                </option>
                <option>
                    midnight
                </option>
                <option>
                    monokai
                </option>
                <option>
                    neat
                </option>
                <option>
                    neo
                </option>
                <option>
                    night
                </option>
                <option>
                    paraiso-dark
                </option>
                <option>
                    paraiso-light
                </option>
                <option>
                    pastel-on-dark
                </option>
                <option>
                    railscasts
                </option>
                <option>
                    rubyblue
                </option>
                <option>
                    seti
                </option>
                <option>
                    solarized dark
                </option>
                <option>
                    solarized light
                </option>
                <option>
                    the-matrix
                </option>
                <option>
                    tomorrow-night-bright
                </option>
                <option>
                    tomorrow-night-eighties
                </option>
                <option>
                    ttcn
                </option>
                <option>
                    twilight
                </option>
                <option>
                    vibrant-ink
                </option>
                <option>
                    xq-dark
                </option>
                <option>
                    xq-light
                </option>
                <option>
                    yeti
                </option>
                <option>
                    zenburn
                </option>
            </select>
            <i class="iconfont" id="runphone">
                <a href="javascript:void(0);">
                    &#xe602;手机运行
                    <%= id %>
                    </a>
                </i>
            </div>
        </header>
        <div class="rn-content">
            <div class="rn-sider ztree">
                <ul class="rn-sider-menu" id="treeDemo"  style="padding:10px">
                </ul>
            </div>
            <div class="rn-main">
                <div class="titles">
                  
                </div>
                <div class="file">
                  
                </div>
                <div class="console">
                    cccccc
                </div>
            </div>
        </div>
  <% include foot.html %> 
 
    <script>

        function showCode(file){

           window["editor_"+file] = CodeMirror.fromTextArea(document.getElementById(file), {
              theme:"mbo",
              height:"100%",
              lineNumbers: true,
              styleActiveLine: true,
              matchBrackets: true
          });
           console.log("editor_"+file);
           return  window["editor_"+file];
        
        }
       
        var input = document.getElementById("select");
        function selectTheme() {
          var theme = input.options[input.selectedIndex].textContent;
          editor.setOption("theme", theme);
          location.hash = "#" + theme;
        }
        CodeMirror.on(window, "hashchange", function() {
          var theme = location.hash.slice(1);
          if (theme) { input.value = theme; selectTheme(); }
        });
        document.getElementById('runphone').onclick = function(){
          document.getElementById('maskqr').style.display="block";
        }
        document.getElementById('maskqr').onclick = function(){
        document.getElementById('maskqr').style.display="none";
        }
        ;(function() {
        if (document.querySelector(".rn-sider")) {
        drapHandler(document.querySelector(".rn-sider"),function(){
        console.log(arguments);
        });
        } else {
        setTimeout(arguments.callee, 1000);
        }
        })();
    </script>
</body>
</html>
