<div class="foot">
	<ul>
		<li>关于我们</li>
		<li>沪ICP备14030813号-6</li>
	</ul>
</div>
<div class="rn-mask-overlay" id="maskqr" style="display: none;z-index: 999999">
	<div class="rn-mask down">
		<div class="hd">
			<span style="display: block;float: left;line-height: 50px;">Scan this with our iOS app!</span>
			<img width="120" src="../asset/appstore.png"/>
		</div>
		<div class="bd">
			<img src="http://img2.tbcdn.cn/tfscom/TB1Jg3wHpXXXXc0aXXXSutbFXXX.jpg" alt=""></div>
	</div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?ceea20d6afee3c07b326eceff9376d93";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
